html {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.menuContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.menu {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid black;
    font-size: 24px;
    padding: 2px;
    text-align: center;
    background-color: #e7e7e7;
}

#listMenu {
    position: absolute;
    top: 45px;
    left: 80px;
    overflow: hidden;
    background-color: #e7e7e7;
    border: 1px solid black;
    font-size: 24px;
    padding: 2px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #1e8bf0;
}

.menu ul li {
    display: inline;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}

.selected {
    color: #ef0000;
}

.toggled {
    color: #52ce50;
}

.hidden {
    display: none;
}